.row {
  @mixin clearfix;

  &--pt80 {
    padding-top: 80px;
  }

  &--gutters {
    margin-right: -65px;
  }

  &--gutters-large {
    margin-right: -100px;
  }

  &--gutters-small {
    margin-right: -45px;
  }

  &--gutters > div {
    padding-right: 65px;
  }

  &--gutters-large > div {
    padding-right: 100px;
  }

  &--gutters-small > div {
    padding-right: 45px;
  }

  @mixin atMedium {
    &__md-4 {
      float: left;
      width: 33.33%;
    }

    &__md-4--larger {
      width: 37%
    }

    &__md-6 {
      float: left;
      width: 50%;
    }

    &__md-8 {
      float: left;
      width: 66.66%;
    }

    &__md-8--smaller {
      width: 63%;
    }
  }

  &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }
}
